nav {
    max-width: 100%;
}
nav {
    background-color: #FAC748;
    color: #230903;
    text-align: center;
    font-size: 1.5rem;
}
nav button {
    margin: .2rem 2%;
    background-color: transparent;
    border: none;
    font-size: 2rem;
}
nav a:link,nav a:visited {
    color: #230903;
}
nav ul li a {
    display: block;
}
nav ul.hide_navigation {
    display: none;
}
nav a:hover {
    color: whitesmoke;
    background-color: #230903;
}
nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
}
nav ul li a {
    padding: .8rem 2%;
    border-top: 1px solid rgba(0, 0, 0, 0.0);
}
.active {
    background-color: rgba(0, 0, 0, 0.2);
}
button {
    color: #230903;
    font-family: 'Archivo Narrow', sans-serif;
}
html {
    background-color: whitesmoke;
}
header {
    background-color: #0075A2;
    text-align: center;
    padding: 1rem;
    display: flex;
    justify-content: center;
}
header h1, header h3{
    margin:10px 0;
    text-align: center;
    align-items: center;
}
main {
    background-color: #2d8f09;
    padding: 1.5rem;
}
img {
    width: auto;
    height: auto;
}
h1 {
    font-family: 'Berkshire Swash', cursive;
    font-size: 3rem;
}
h2,h3,h4,
.motto {
    font-family: 'Archivo Narrow', sans-serif;
}
h2 {
    font-size: 2.5rem;
    text-align: center;
}
h3 {
    font-size: 2rem;
}
h4 {
    font-size: 1.5rem;
}
.motto {
    font-size: 1.3rem;
}
p,
.temp {
    color: #230903;
    font-size: 1.1rem;
    font-family: 'Archivo Narrow', sans-serif;
}
a {
    color: #230903;
    font-size: 1.1rem;
    text-decoration: none;
    font-family: 'Archivo Narrow', sans-serif;
}
 .weatherSum h3, .weatherSum p{
    margin: 10px; 
}
.hero {
    width: auto;
    height: 350px;
}
.hero-img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.weatherSum {
    top: 10px;
    left: 10px;
    background: rgba(20, 158, 238, 0.561);
    padding: .5rem;
    box-shadow: 0 0 30px #230903;
    border: 2px solid #230903;
    margin: 20px;
    text-align: center;
}
.result {
    color: #0075A2;
}
.hero,.forecast-container,.article-container,.contact-container 
{
    margin: 20px;
    background-color: whitesmoke;
    border: 2px solid #230903;
}
.article-container {
    position: relative;
    width: auto;
    height: auto;
    text-align: center;
}
.articleimg {
    width: auto;
    max-height: 300px;
}

.articleimg,.article-title,.article-content {
    margin: 10px;
}
.article-content {
    text-align: left;
}
.contact-container {
    display: flex;
}
.prestonMap {
    display: none; 
}
.contact {
    margin-left: auto;
    margin-right: auto
}
.banner {
    display: none;
    margin: 20px;
    background-color: #FAC748;
    border: 2px solid #230903;
    text-align: center;
    padding: 1em;
}
.social {
    display: none;
}
.forecast-table {
    display: flex;
    flex-flow: row wrap;
    border-right: 1px solid #230903;
}
.forecast-head {
    display: block;
    padding: 5px;
    border-bottom: 1px solid#230903;
    text-align: center;
    font-size: 1rem;
    background-color: #230903;
    color: whitesmoke;
}
.forecast-col {
    flex: 1 1 auto;
    background-color: #faca48;
    border-bottom: 1px solid #230903;
    border-left: 1px solid #230903;
    text-align: center;
}
.forecast-col:hover {
    opacity: 0.9;
    background-color: #0074a26b;
    color: whitesmoke;
}
.forecast-title{
text-align: center;
}
art
.temp {
    display: block;
    padding: 0 5px 5px;
    font-size: 0.8rem;
    text-align: center;
}
footer {
    background-color: #FAC748;
    color: #230903;
    padding: 1.5rem;
    text-align: center;
}