body {
    max-width: 750px;
    margin: auto;
    background-color: #ffffff;
}
header {
    background-color: #D71709;
    color: #0F0A0A;
    text-align: center;
    border-radius: 5px;
}
header h1 {
    margin-left: 175px;
}
h2 {
    color: green;
}
header img {
    max-height: 150px;
    position: relative;
    float: right;
    margin-top: 10px;
    margin-right: 10px;
}
main {
    margin-left: 15px;
}
footer {
    background-color: #D71709;
    color: #0F0A0A;
    text-align: center;
    border-radius: 5px;
}
footer div a {
    color: #004EF5;
}